In [1]:
import numpy as np   # an essential python module
import pandas as pd   # for importing & transforming data
import re   # for regular expressions
import matplotlib.pyplot as plt   # for wordclouds & charts
import seaborn as sns   # for charts
sns.set_style("whitegrid");   # chart background style
plt.rcParams['figure.dpi'] = 360   # for high res chart output
from wordcloud import WordCloud   # for the wordcloud :)
import spacy   # for tokenising text
from spacy.lang.en import English  # for tokenising text
nlp = English()   # for tokenising text
from collections import Counter   # for getting freq of words

In [70]:
## credentials contain:
consumer_key= "Zoa1otApB0HJbmQm47b6kbFN0"
consumer_secret= "z9l0UF2mPVoidBXHUKRAdZWhpkcSUB3gtN0e9T3zngOFsifdOR"
access_token= "1328658486935351297-XlZOCtkS7A3ogf3e789PbhHky5gVY6"
access_token_secret= "Zz3igyB7hCgP7ayOm5pvFjAlu0NXS79vGo93Sdl3DHFYM"
from credentials import *
import tweepy
print(tweepy.__version__)

3.9.0

In [71]:
userID = "RealNotWally"

In [72]:
# Authorize our Twitter credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

tweets = api.user_timeline(screen_name=userID, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
for info in tweets[:3]:
        print("ID: {}".format(info.id))
        print(info.created_at)
        print(info.full_text)
        
        print(len(info.full_text))
        print("\n")

ID: 1331422647054438401
2020-11-25 02:21:10
I don't even remember if I sent Bernie money, but I fucking remember sending Amy some dough. I'm like a horrible leftist tbh
124


ID: 1331422174947774472
2020-11-25 02:19:17
"Wally, are you being hyperbolic?"

No. I'm a hardcore lefty who donated to Amy Klobuchar because she doesn't use Twitter that much. And Klobuchar isn't nearly as far to the left as I am, but my heart health requires less drama from DC. Even shitheads like me learn compromise.
277


ID: 1331421339668914178
2020-11-25 02:15:58
Another break from my trademark negativity: Biden's press conference are boring. They contain little drama and nothing to keep me pinned to my phone, exhaustively waiting for news updates to see if we're all gonna fucking die. This is awesome. Four more years of this.
268

In [73]:
all_tweets = []
all_tweets.extend(tweets)
oldest_id = tweets[-1].id
while True:
    tweets = api.user_timeline(screen_name=userID, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           max_id = oldest_id - 1,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
    if len(tweets) == 0:
        break
    oldest_id = tweets[-1].id
    all_tweets.extend(tweets)
    print('N of tweets downloaded till now {}'.format(len(all_tweets)))

N of tweets downloaded till now 371
N of tweets downloaded till now 560
N of tweets downloaded till now 738
N of tweets downloaded till now 931
N of tweets downloaded till now 1122
N of tweets downloaded till now 1315
N of tweets downloaded till now 1498
N of tweets downloaded till now 1687
N of tweets downloaded till now 1732

In [74]:
print(len(all_tweets))

1732

In [75]:
from pandas import DataFrame
outtweets = [[tweet.id_str, 
              tweet.created_at,
              tweet.favorite_count, 
              tweet.retweet_count, 
              tweet.full_text.encode("utf-8").decode("utf-8"),
              len(tweet.full_text)] 
             for idx,tweet in enumerate(all_tweets)]
df = DataFrame(outtweets,columns=["id","Date","Likes","RTs", "tweet","length"])
df.to_csv('%s_tweets.csv' % userID,index=False)
df.head(5)

,id,Date,Likes,RTs,tweet,length
0,1331422647054438401,2020-11-25 02:21:10,1,0,"I don't even remember if I sent Bernie money, ...",124
1,1331422174947774472,2020-11-25 02:19:17,2,0,"""Wally, are you being hyperbolic?""\n\nNo. I'm ...",277
2,1331421339668914178,2020-11-25 02:15:58,2,0,Another break from my trademark negativity: Bi...,268
3,1331375261594611713,2020-11-24 23:12:52,0,0,@robbystarbuck @realDonaldTrump Biden got more...,110
4,1331374771997732869,2020-11-24 23:10:56,1,0,Taking a break from my trademark negativity ab...,166

In [76]:
userID1 = "markdreyfusQCMP"
# Authorize our Twitter credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

tweets = api.user_timeline(screen_name=userID1, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
for info in tweets[:3]:
        print("ID: {}".format(info.id))
        print(info.created_at)
        print(info.full_text)
        
        print(len(info.full_text))
        print("\n")

ID: 1333660792613339136
2020-12-01 06:34:45
"the robodebt scheme is ... a story of bungled automation, with the government reversing the onus of proof and putting it onto vulnerable people, then sooling private debt collectors onto them, and then defending the indefensible for years" https://t.co/yWj4O8aJwV
264


ID: 1333659478751809537
2020-12-01 06:29:32
Labor, the Greens and Crossbench all voted to protect the Family court - if just one Government MP had crossed the floor this radical bill would have been defeated. https://t.co/CKqSWzd6bo
188


ID: 1333659477128613890
2020-12-01 06:29:32
BREAKING: The Morrison Government just voted in the House to abolish the Family Court. It‚Äôs now up to the Senate to stand with Labor and reject this destructive and damaging move which will put Australian families at greater risk in their time of greatest need.
261

In [77]:
all_tweets = []
all_tweets.extend(tweets)
oldest_id = tweets[-1].id
while True:
    tweets = api.user_timeline(screen_name=userID1, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           max_id = oldest_id - 1,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
    if len(tweets) == 0:
        break
    oldest_id = tweets[-1].id
    all_tweets.extend(tweets)
    print('N of tweets downloaded till now {}'.format(len(all_tweets)))

N of tweets downloaded till now 333
N of tweets downloaded till now 458
N of tweets downloaded till now 562
N of tweets downloaded till now 675
N of tweets downloaded till now 779
N of tweets downloaded till now 893
N of tweets downloaded till now 1059
N of tweets downloaded till now 1246
N of tweets downloaded till now 1387

In [78]:
from pandas import DataFrame
outtweets = [[tweet.id_str, 
              tweet.created_at,
              tweet.favorite_count, 
              tweet.retweet_count, 
              tweet.full_text.encode("utf-8").decode("utf-8"),
              len(tweet.full_text)] 
             for idx,tweet in enumerate(all_tweets)]
df1 = DataFrame(outtweets,columns=["id","Date","Likes","RTs", "tweet","length"])
df1.to_csv('%s_tweets.csv' % userID1,index=False)
df1.head(5)

,id,Date,Likes,RTs,tweet,length
0,1333660792613339136,2020-12-01 06:34:45,104,45,"""the robodebt scheme is ... a story of bungled...",264
1,1333659478751809537,2020-12-01 06:29:32,434,109,"Labor, the Greens and Crossbench all voted to ...",188
2,1333659477128613890,2020-12-01 06:29:32,1893,652,BREAKING: The Morrison Government just voted i...,261
3,1333288660481974272,2020-11-30 05:56:02,12,3,The full speech can be found here https://t.co...,57
4,1333268314898894848,2020-11-30 04:35:11,348,126,"Medicare, superannuation, the Family Court - a...",253

In [79]:

userID3 = "FSsustain"
userID4="ReutersPR"
userID5="Missamy231"

In [81]:
userID2 = "Iris82412553"
# Authorize our Twitter credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

tweets = api.user_timeline(screen_name=userID2, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
for info in tweets[:3]:
        print("ID: {}".format(info.id))
        print(info.created_at)
        print(info.full_text)
        
        print(len(info.full_text))
        print("\n")

ID: 1333618448849653760
2020-12-01 03:46:30
still has impact on me https://t.co/1BNZGdI4KC
46


ID: 1333616086210719744
2020-12-01 03:37:06
https://t.co/ILxQTSNKlK
23


ID: 1333614164640735232
2020-12-01 03:29:28
New Day coming to North America https://t.co/Aa6UzIwjgw
55

In [82]:
all_tweets = []
all_tweets.extend(tweets)
oldest_id = tweets[-1].id
while True:
    tweets = api.user_timeline(screen_name=userID2, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           max_id = oldest_id - 1,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
    if len(tweets) == 0:
        break
    oldest_id = tweets[-1].id
    all_tweets.extend(tweets)
    print('N of tweets downloaded till now {}'.format(len(all_tweets)))

N of tweets downloaded till now 254
N of tweets downloaded till now 397
N of tweets downloaded till now 473
N of tweets downloaded till now 595
N of tweets downloaded till now 755
N of tweets downloaded till now 810
N of tweets downloaded till now 906
N of tweets downloaded till now 980
N of tweets downloaded till now 1054
N of tweets downloaded till now 1144
N of tweets downloaded till now 1197
N of tweets downloaded till now 1264
N of tweets downloaded till now 1301
N of tweets downloaded till now 1359
N of tweets downloaded till now 1477
N of tweets downloaded till now 1511

In [83]:
from pandas import DataFrame
outtweets = [[tweet.id_str, 
              tweet.created_at,
              tweet.favorite_count, 
              tweet.retweet_count, 
              tweet.full_text.encode("utf-8").decode("utf-8"),
              len(tweet.full_text)] 
             for idx,tweet in enumerate(all_tweets)]
df2 = DataFrame(outtweets,columns=["id","Date","Likes","RTs", "tweet","length"])
df2.to_csv('%s_tweets.csv' % userID2,index=False)
df2.head(5)

,id,Date,Likes,RTs,tweet,length
0,1333618448849653760,2020-12-01 03:46:30,1,0,still has impact on me https://t.co/1BNZGdI4KC,46
1,1333616086210719744,2020-12-01 03:37:06,2,0,https://t.co/ILxQTSNKlK,23
2,1333614164640735232,2020-12-01 03:29:28,1,0,New Day coming to North America https://t.co/A...,55
3,1333613757923258373,2020-12-01 03:27:51,1,0,time flies https://t.co/Fz87K6g1qD,34
4,1333613595301711873,2020-12-01 03:27:13,1,0,winter https://t.co/N0QnSTByDo,30

In [84]:
# Authorize our Twitter credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

tweets = api.user_timeline(screen_name=userID3, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
for info in tweets[:3]:
        print("ID: {}".format(info.id))
        print(info.created_at)
        print(info.full_text)
        
        print(len(info.full_text))
        print("\n")

ID: 1333622134820593669
2020-12-01 04:01:09
@StateStreetGA, the world's third largest asset manager will join Climate Action 100+, the world's largest investor engagement initiative on climate change.
https://t.co/d8gOadIr2G
180


ID: 1333544427252453376
2020-11-30 22:52:22
@Robeco outlines how climate risk is integrated into its expected five-year returns report.

https://t.co/jxmrCw1pSO
116


ID: 1333544122439794690
2020-11-30 22:51:09
Evolution Mining speaks regarding its sustainability reporting, goals for FY2021.

https://t.co/A2eoTFFotW
106

In [85]:
all_tweets = []
all_tweets.extend(tweets)
oldest_id = tweets[-1].id
while True:
    tweets = api.user_timeline(screen_name=userID3, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           max_id = oldest_id - 1,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
    if len(tweets) == 0:
        break
    oldest_id = tweets[-1].id
    all_tweets.extend(tweets)
    print('N of tweets downloaded till now {}'.format(len(all_tweets)))

N of tweets downloaded till now 348
N of tweets downloaded till now 539
N of tweets downloaded till now 718
N of tweets downloaded till now 896
N of tweets downloaded till now 1058
N of tweets downloaded till now 1221
N of tweets downloaded till now 1404
N of tweets downloaded till now 1578
N of tweets downloaded till now 1750
N of tweets downloaded till now 1910
N of tweets downloaded till now 2060
N of tweets downloaded till now 2221
N of tweets downloaded till now 2393
N of tweets downloaded till now 2547
N of tweets downloaded till now 2707
N of tweets downloaded till now 2728

In [86]:
from pandas import DataFrame
outtweets = [[tweet.id_str, 
              tweet.created_at,
              tweet.favorite_count, 
              tweet.retweet_count, 
              tweet.full_text.encode("utf-8").decode("utf-8"),
              len(tweet.full_text)] 
             for idx,tweet in enumerate(all_tweets)]
df3 = DataFrame(outtweets,columns=["id","Date","Likes","RTs", "tweet","length"])
df3.to_csv('%s_tweets.csv' % userID3,index=False)
df3.head(5)

,id,Date,Likes,RTs,tweet,length
0,1333622134820593669,2020-12-01 04:01:09,0,0,"@StateStreetGA, the world's third largest asse...",180
1,1333544427252453376,2020-11-30 22:52:22,0,0,@Robeco outlines how climate risk is integrate...,116
2,1333544122439794690,2020-11-30 22:51:09,0,0,Evolution Mining speaks regarding its sustaina...,106
3,1331374713650569218,2020-11-24 23:10:42,0,0,FS Sustainability roundtable: industry experts...,307
4,1330654307880890368,2020-11-22 23:28:04,0,0,AGL and the Australian Renewable Energy Agency...,191

In [87]:
# Authorize our Twitter credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

tweets = api.user_timeline(screen_name=userID4, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )

In [88]:
for info in tweets[:3]:
        print("ID: {}".format(info.id))
        print(info.created_at)
        print(info.full_text)
        
        print(len(info.full_text))
        print("\n")

ID: 1333652821451841541
2020-12-01 06:03:05
.@Reuters exclusive: LG Chem to double China battery capacity to meet Tesla demand - sources https://t.co/zB9BDDite6
116


ID: 1333588095187394561
2020-12-01 01:45:53
Top Photos of the Day with @Reuterspictures https://t.co/ASh2Tt0COX
67


ID: 1333431501719998465
2020-11-30 15:23:38
A @Reuters special report explores the story of four Hong Kongers divided by age but united by a deep love of their city ‚Äì and the toll that tightening Chinese rule has taken on them in the wake of last year's massive protests. https://t.co/mcjU94sWcF
251

In [89]:
all_tweets = []
all_tweets.extend(tweets)
oldest_id = tweets[-1].id
while True:
    tweets = api.user_timeline(screen_name=userID4, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           max_id = oldest_id - 1,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
    if len(tweets) == 0:
        break
    oldest_id = tweets[-1].id
    all_tweets.extend(tweets)
    print('N of tweets downloaded till now {}'.format(len(all_tweets)))

N of tweets downloaded till now 288
N of tweets downloaded till now 417
N of tweets downloaded till now 548
N of tweets downloaded till now 684
N of tweets downloaded till now 833
N of tweets downloaded till now 959
N of tweets downloaded till now 1134
N of tweets downloaded till now 1286
N of tweets downloaded till now 1434
N of tweets downloaded till now 1562
N of tweets downloaded till now 1697
N of tweets downloaded till now 1838
N of tweets downloaded till now 1984
N of tweets downloaded till now 2136
N of tweets downloaded till now 2262
N of tweets downloaded till now 2266

In [90]:
from pandas import DataFrame
outtweets = [[tweet.id_str, 
              tweet.created_at,
              tweet.favorite_count, 
              tweet.retweet_count, 
              tweet.full_text.encode("utf-8").decode("utf-8"),
              len(tweet.full_text)] 
             for idx,tweet in enumerate(all_tweets)]
df4 = DataFrame(outtweets,columns=["id","Date","Likes","RTs", "tweet","length"])
df4.to_csv('%s_tweets.csv' % userID4,index=False)
df4.head(5)

,id,Date,Likes,RTs,tweet,length
0,1333652821451841541,2020-12-01 06:03:05,0,0,.@Reuters exclusive: LG Chem to double China b...,116
1,1333588095187394561,2020-12-01 01:45:53,2,1,Top Photos of the Day with @Reuterspictures ht...,67
2,1333431501719998465,2020-11-30 15:23:38,0,3,A @Reuters special report explores the story o...,251
3,1333395427140505600,2020-11-30 13:00:17,0,0,"Suspected North Korean hackers, the EU proposi...",275
4,1333361757516034048,2020-11-30 10:46:30,0,0,Singapore studies COVID-19 pregnancy puzzle af...,126

In [91]:
# Authorize our Twitter credentials
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

tweets = api.user_timeline(screen_name=userID5, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )

In [92]:
for info in tweets[:3]:
        print("ID: {}".format(info.id))
        print(info.created_at)
        print(info.full_text)
        
        print(len(info.full_text))
        print("\n")

ID: 1333442892468162560
2020-11-30 16:08:54
@ForLovenFreedom ‚ù§Ô∏è
19


ID: 1333324236786581504
2020-11-30 08:17:24
@AlexDevantier Don‚Äôt think I‚Äôve not thought about it!
53


ID: 1333324075247099904
2020-11-30 08:16:46
@KoparaFallsKid I know!  It‚Äôs the freakin best‚ù§Ô∏è
48

In [93]:
all_tweets = []
all_tweets.extend(tweets)
oldest_id = tweets[-1].id
while True:
    tweets = api.user_timeline(screen_name=userID5, 
                           # 200 is the maximum allowed count
                           count=200,
                           include_rts = False,
                           max_id = oldest_id - 1,
                           # Necessary to keep full_text 
                           # otherwise only the first 140 words are extracted
                           tweet_mode = 'extended'
                           )
    if len(tweets) == 0:
        break
    oldest_id = tweets[-1].id
    all_tweets.extend(tweets)
    print('N of tweets downloaded till now {}'.format(len(all_tweets)))

N of tweets downloaded till now 88
N of tweets downloaded till now 125
N of tweets downloaded till now 155
N of tweets downloaded till now 186
N of tweets downloaded till now 218
N of tweets downloaded till now 272
N of tweets downloaded till now 313
N of tweets downloaded till now 343
N of tweets downloaded till now 376
N of tweets downloaded till now 441
N of tweets downloaded till now 501
N of tweets downloaded till now 538
N of tweets downloaded till now 564
N of tweets downloaded till now 599
N of tweets downloaded till now 630
N of tweets downloaded till now 644

In [94]:
from pandas import DataFrame
outtweets = [[tweet.id_str, 
              tweet.created_at,
              tweet.favorite_count, 
              tweet.retweet_count, 
              tweet.full_text.encode("utf-8").decode("utf-8"),
              len(tweet.full_text)] 
             for idx,tweet in enumerate(all_tweets)]
df5 = DataFrame(outtweets,columns=["id","Date","Likes","RTs", "tweet","length"])
df5.to_csv('%s_tweets.csv' % userID5,index=False)
df5.head(5)

,id,Date,Likes,RTs,tweet,length
0,1333442892468162560,2020-11-30 16:08:54,1,0,@ForLovenFreedom ‚ù§Ô∏è,19
1,1333324236786581504,2020-11-30 08:17:24,1,0,@AlexDevantier Don‚Äôt think I‚Äôve not thought ab...,53
2,1333324075247099904,2020-11-30 08:16:46,1,0,@KoparaFallsKid I know! It‚Äôs the freakin best‚ù§Ô∏è,48
3,1333323922234765312,2020-11-30 08:16:09,0,0,"@Therese_Rein I‚Äôm sorry, sending love x",40
4,1332286446728749057,2020-11-27 11:33:36,1,0,@AlexDevantier Thinking of you Alex ü§ó,37

In [95]:
import pandas as pd
tweets = pd.concat([df, df1,df2,df3,df4,df])
tweets.to_csv('all_tweets.csv' ,index=False)

print(len(tweets))
tweets
display(tweets.head(10))

11356

,id,Date,Likes,RTs,tweet,length
0,1331422647054438401,2020-11-25 02:21:10,1,0,"I don't even remember if I sent Bernie money, ...",124
1,1331422174947774472,2020-11-25 02:19:17,2,0,"""Wally, are you being hyperbolic?""\n\nNo. I'm ...",277
2,1331421339668914178,2020-11-25 02:15:58,2,0,Another break from my trademark negativity: Bi...,268
3,1331375261594611713,2020-11-24 23:12:52,0,0,@robbystarbuck @realDonaldTrump Biden got more...,110
4,1331374771997732869,2020-11-24 23:10:56,1,0,Taking a break from my trademark negativity ab...,166
5,1330590942676602880,2020-11-22 19:16:16,0,1,"The difference between Chuck Todd and other ""j...",269
6,1330590370275659776,2020-11-22 19:14:00,0,0,"Chuck Re-Todd is at it again, I see. \n\nhttps...",62
7,1330192365978578951,2020-11-21 16:52:28,0,0,"I know that we, being collected under this mas...",278
8,1330191836086988802,2020-11-21 16:50:22,0,0,"Point taken, and I can't say Rebecca's point d...",292
9,1329574242283884546,2020-11-19 23:56:16,1,0,There are no words to accurately express just ...,107